:root {
  --colorDenim: #1c6cd5;
  --colorBiscay: rgba(23, 58, 103, 0.9);
  --colorAthensGray: #f3f4f6;
  --colorHeather: #c0ced9;
  --colorDusty: #999;
  --colorAbbey: #565861;
  --colorShark: #25262b;
  --colorScarlet: #ff3600;
  --containerMaxWidth: 1260px;
}
