doctype
html(lang="ru")
    head
        meta(charset="utf-8")
        title что-то
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0")
    body
        header.header
        main.main
            block subtitle_basic
            block rangeSlider
            block slider
            block yandexMap
            block subtitle_advanced
            block poput
            block form
        footer.footer
